* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}